.transfer-section {
  padding: 1rem;
  }

h5, .transfer-dropdown:hover, .transfer-dropdown:active {
  color: #efa900;
  }

label, .text-section, .transfer-dropdown-item, span {
  color: #707070;
  }

h5, label, input, textarea, select, .text-section, span, p {
  letter-spacing: .5px;
  }

input, textarea, label, .transfer-dropdown {
  font-size: .9rem;
  }

input, textarea {
  padding: .25rem .35rem;
}

input, textarea, select {
	border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
}

input, textarea, select {
  border: 1px solid #a9a9a9;
  }

input:focus, textarea:focus, select:focus, select, .transfer-dropdown:focus {
  outline: none;
  }

input:focus, textarea:focus, select:focus {
  border: 1px solid #195a7c;
  }

select {
  padding: .2rem;
  }

select:hover, .transfer-dropdown-item:hover {
  cursor: pointer;
  }

select, .transfer-dropdown {
  color: #195a7c;
  }

.toolbar {
  display: flex;
  }

.toolbar div {
  margin-right: 1.4rem;
  }

.transfer-dropdown-menu {
  -webkit-box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  transform: translate3d(0px, 25px, 0px) !important;
  -webkit-transform: translate3d(0px, 25px, 0px) !important;
  -moz-transform: translate3d(0px, 25px, 0px) !important;
  -ms-transform: translate3d(0px, 25px, 0px) !important;
  -o-transform: translate3d(0px, 25px, 0px) !important;
}
.transfer-dropdown-item:hover {
  color: #16181b !important;
  }
