.footer {
  padding: 30px 0 25px;
  background: #195a7c;
  margin-top: 1rem;
  }

.social-links a {
  margin-right: 10px;
  }

.social-links a:last-child {
  margin-right: 0px;
  }

.copyright {
  color: #ffffff;
  padding: 15px 0 0;
  font-size: .9rem;
  }
