.main {
  background-image: url('../images/bmt-micro-vendors-login-background.jpg');
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
  filter: blur(15px);
  opacity: .5;
  height: 100%;
  z-index: -1;
  top: 0;
  left: 0;
  position: fixed;
  }

.main, .vendor-input, .footer {
  width: 100%;
  }

.content-area {
  height: 95vh;
  min-height: 600px;
  padding-top: 100px;
  }

.box-style {
  max-width: 445px;
  }

.vendor-login-box {
  -webkit-box-shadow: 0px 2px 7px 2px rgba(0,0,0,0.1);
  -moz-box-shadow: 0px 2px 7px 2px rgba(0,0,0,0.1);
  box-shadow: 0px 2px 7px 2px rgba(0,0,0,0.1);
  border-radius: 6px;
  padding: 35px 110px;
  }

input {
  background: rgba(255,255,255,0.4);
  }

.vendor-input {
  border-radius: 6px;
  border: 1px solid rgba(0,0,0,0.25);
  padding: 4px 7px;
  }

.vendor-input, .copyright {
  font-size: .9rem;
  }

.vendor-input, .login-btn button, .signup a {
  letter-spacing: .5px;
  }

.vendor-input:focus {
  border-color: #195a7c;
  }

.username, .password {
  margin-bottom: 15px;
  }

.forgot-password, .login-btn {
  margin-bottom: 10px;
  }

.forgot-password a {
  font-size: .85rem;
  letter-spacing: .4px;
  color: #195a7c;
  }

.login-btn button {
  background: #ef9a00;
  padding: 5px 0px;
  border-radius: 8px;
  color: #ffffff;
  width: 105px;
  }

.login-btn button, .login-btn button:active {
  border: none;
}

.login-btn button:active {
  transform: translateY(2px);
  transition: .3s ease;
  outline: none;
  }

.signup a, .copyright {
  color: #555555;
  }

.footer {
  height: 25px;
  }

/* RWD */
@media (max-width: 530px) {

  img {
    height: 60px;
  }

  h5 {
    font-size: 1.15rem;
  }

  .box-style {
    width: 325px;
  }

  .vendor-login-box {
    padding: 25px 45px;
  }

  .vendor-login-box h4 {
    font-size: 1.25rem;
  }

  .username label, .password label {
    font-size: .9rem;
    margin-bottom: .3rem;
  }

  .copyright {
    font-size: .8rem;
  }

}
