.news-feed h4, .chart-title {
  color: #ef9a00;
  }

.tweet-feed {
  color: #707070;
  }

.tweet-feed, .news-feed h4 {
  letter-spacing: .5px;
  }

#ceotweet {
  min-width: 85%;
  }

#columnchart, #piechart, #linechart, #linebycountry {
  width: 100%;
  height: 360px;
}

.open {
  transition: .5s;
  }

.charts {
  padding-left: 15px;
  padding-right: 15px;
  }

.chart-title {
  font-size: .95rem;
  letter-spacing: .3px;
  }

.royalty-chart, .circle-graph, .product-chart, .country-graph {
  -webkit-box-shadow: 0px 2px 7px 2px rgba(0,0,0,0.1);
  -moz-box-shadow: 0px 2px 7px 2px rgba(0,0,0,0.1);
  box-shadow: 0px 2px 7px 2px rgba(0,0,0,0.1);
  border-radius: 3px;
  padding: 1rem;
  }

.royalty-chart, .circle-graph {
  margin-bottom: 30px;
  }

.royalty-chart, .product-chart {
  margin-right: 15px;
  }

.new-graph {
  font-size: .8rem;
  }

.new-graph, .new-graph:hover {
  color: #195a7c;
  }

.new-graph:hover {
  border-bottom: 1px solid #ef9a00;
  }
