.balance-text, .balance-amount, .vendor-company {
  /* font-weight: 700; */
  font-size: .8rem;
  }

.balance-text, .balance-amount, .vendor-name {
  font-weight: 700;
  }

.vendor-name {
  font-size: .9rem;
  }

.vendor-company {
  margin-bottom: .8rem;
  }

.balance-text, .balance-amount, .vendor-name, .sidebar-group, .vendor-company {
  letter-spacing: .5px;
  }

.balance-text, .vendor-name, .vendor-company {
  color: #707070;
  }

.vendor-name:hover, .sidebar-group, .sidebar-group:hover, .sidebar-group:focus {
  color: #195a7c;
  }

.balance-amount {
  color: #ef9a00;
  }

.vendor-name:hover {
  transition: .3s ease-in-out;
  -webkit-transition: .3s ease-in-out;
  -moz-transition: .3s ease-in-out;
  }

.sidebar-group {
  font-weight: 600;
  }

.sidebar-group:hover, .sidebar-group:focus, .vendor-name:hover, .vendor-name:focus {
  border-bottom: 1px solid #ef9a00;
  outline: none;
  }

.dropright {
  padding-bottom: .5rem;
  }

/* Handles the sidebar menu position */
.sidebar-options {
  margin-top: 12px !important;
  }
/*  */

/* Handles the styling of the sidebar menu caret */
.dropright .dropdown-toggle::after {
  border-top: .3em solid;
  border-right: .3em solid transparent;
  border-bottom: 0;
  border-left: .3em solid transparent;
  vertical-align: .255em;
  }
/*  */
