@media (max-width: 1599px) {
  #columnchart, #piechart, #linechart, #linebycountry {
    height: 380px;
  }
}

@media (max-width: 1200px) {
  #ceotweet {
    min-width: 100%;
  }
}

@media (max-width: 768px) {
  .main-raised {
    margin: 40px 10px 0px 10px;
  }
}
