html,
body {
	overflow-x: hidden;
	width: 100%;
	height: 100%;
}

.row {
	margin: 0px;
}

input,
button:focus {
	outline: none !important;
}

[type=button] {
	-webkit-appearance: none;
}

a {
	text-decoration: none !important;
}

.save-btn,
.dropdown-item,
.grey-btn,
.light-btn {
	font-size: .8rem;
}

.blue-bg {
	background-color: #195a7c;
	height: 300px;
	width: 100%;
	z-index: -1;
	position: absolute;
}

.main-raised {
	margin: 0px 15px 0;
	position: relative;
	border-radius: 10px 10px 0 0;
	-webkit-box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14), 0 6px 30px 5px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
	-moz-box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14), 0 6px 30px 5px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
	box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14), 0 6px 30px 5px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
	-webkit-border-radius: 10px 10px 0 0;
	-moz-border-radius: 10px 10px 0 0;
	-ms-border-radius: 10px 10px 0 0;
	-o-border-radius: 10px 10px 0 0;
}

.main-raised,
.save-btn,
.light-btn {
	background: #ffffff;
}

.sidebar img {
	height: auto;
	width: 200px;
	margin-bottom: 20px;
}

.body-content {
	padding-top: 2.2rem;
	min-height: calc(100vh - 132px);
}

.content-box {
	-webkit-box-shadow: 0px 2px 7px 2px rgba(0, 0, 0, 0.1);
	-moz-box-shadow: 0px 2px 7px 2px rgba(0, 0, 0, 0.1);
	box-shadow: 0px 2px 7px 2px rgba(0, 0, 0, 0.1);
}

.content-box, .save-btn, .light-btn {
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-ms-border-radius: 3px;
	-o-border-radius: 3px;
}

.dropdown-item {
	letter-spacing: .4px;
	padding: .25rem .8rem;
}

/* Handles the caret transition */

.open:hover .dropdown-toggle::after,
.dropdown-toggle[aria-expanded="true"]:after {
	transform: rotate(-180deg);
	-webkit-transform: rotate(-180deg);
	-moz-transform: rotate(-180deg);
	-ms-transform: rotate(-180deg);
	-o-transform: rotate(-180deg);
}

.dropdown-toggle::after {
	transition: .5s;
	-webkit-transition: .5s;
	-moz-transition: .5s;
	-ms-transition: .5s;
	-o-transition: .5s;
}

/*  */

.page-title h4,
.save-btn:hover,
h5 {
	color: #ef9a00;
}

.page-title h4,
.page-title p,
.grey-btn,
.save-btn,
.light-btn,
h5,
.transfer-section label,
label,
input,
textarea,
select,
.text-section,
span,
p {
	letter-spacing: .5px;
}

p,
.transfer-section label,
.dropdown-item {
	color: #707070;
}

.grey-btn {
	border-radius: 8px;
	border: 1px solid #000000;
	padding: .2rem .4rem;
	background-color: #dddddd;
	margin-right: .2rem;
}

.grey-btn:hover {
	background-color: #a9a9a9;
}

.grey-btn,
.remove,
.save-btn,
.listremove {
	transition: all .2s ease;
}

.save-btn,
.light-btn,
.result-th {
	color: #195a7c;
}

.save-btn,
.light-btn:hover {
	border: 1px solid #195a7c;
}

.save-btn {
	box-shadow: 0 0 4px 0 rgba(17, 22, 26, .16), 0 2px 4px 0 rgba(17, 22, 26, .08), 0 4px 8px 0 rgba(17, 22, 26, .08);
	-webkit-box-shadow: 0 0 4px 0 rgba(17, 22, 26, .16), 0 2px 4px 0 rgba(17, 22, 26, .08), 0 4px 8px 0 rgba(17, 22, 26, .08);
	padding: .3rem .75rem;
}

.save-btn:hover {
	box-shadow: 0 2px 16px 2px rgba(17, 22, 26, .16), 0 2px 4px 0 rgba(17, 22, 26, .08), 0 8px 14px 0 rgba(17, 22, 26, .08);
	-webkit-box-shadow: 0 2px 16px 2px rgba(17, 22, 26, .16), 0 2px 4px 0 rgba(17, 22, 26, .08), 0 8px 14px 0 rgba(17, 22, 26, .08);
	-moz-box-shadow: 0 2px 16px 2px rgba(17, 22, 26, .16), 0 2px 4px 0 rgba(17, 22, 26, .08), 0 8px 14px 0 rgba(17, 22, 26, .08);
	border: 1px solid #efa900;
}

.light-btn {
  border: 1px solid rgba(17,22,26,.04);
  box-shadow: 0 0 4px 0 rgba(17,22,26,.16), 0 2px 4px 0 rgba(17,22,26,.08), 0 4px 8px 0 rgba(17,22,26,.08);
  -webkit-box-shadow: 0 0 4px 0 rgba(17,22,26,.16), 0 2px 4px 0 rgba(17,22,26,.08), 0 4px 8px 0 rgba(17,22,26,.08);
  padding: .3rem .75rem;
}

.remove, .listremove {
	background: url('../images/times-circle-red.png') no-repeat center center;
	background-size: cover;
	width: 1.5rem;
	height: 1.5rem;
	vertical-align: middle;
	border: none;
}

.remove:hover, .listremove:hover {
	filter: brightness(.7);
	-webkit-filter: brightness(.7);
}

button:hover, .calendar:hover {
	cursor: pointer;
}

#resultframe {
	border-top: 1px solid rgba(0, 0, 0, 0.15);
	-webkit-box-shadow: 0px -3px 3px rgba(0, 0, 0, 0.15);
	-moz-box-shadow: 0px -3px 3px rgba(0, 0, 0, 0.15);
	box-shadow: 0px -3px 3px rgba(0, 0, 0, 0.15);
	z-index: 1;
}

.result-th {
	font-size: .9rem;
	text-decoration: underline;
	text-decoration-color: #efa900;
}

.result-th {
	padding: .4rem !important;
}

.content-box {
	max-height: calc(100vh - 260px);
	min-height: 290px;
	}

#resultframe {
	display: none;
	padding: 1rem;
	}

.calendar {
	min-width: 22px;
	min-height: 22px;
	content: url("https://vendors-new.bmtmicro.com/images/cal.gif")
}
