/* Shared styling of sales tables */

.select-table {
  -webkit-box-shadow: 0px 2px 7px 2px rgba(0,0,0,0.1);
  -moz-box-shadow: 0px 2px 7px 2px rgba(0,0,0,0.1);
  box-shadow: 0px 2px 7px 2px rgba(0,0,0,0.1);
  border-radius: 0px 0px 3px 3px;
  }

.table-header {
  background: #195a7c;
  padding: 1rem .75rem;
  border-radius: 3px 3px 0px 0px;
  }

.table-header span, .table-header input, .get-btn, .display-header, .sort-column, td, tfoot, .td-button button {
  letter-spacing: .5px;
  }

.table-header span {
  color: #ffffff;
  }

th a, th a:hover, tfoot {
  color: #195a7c;
  }

.table-header span {
  margin-right: 15px;
  }

.table-header input {
  border-radius: 3px;
  border: none;
  padding-left: .4rem;
  color: #707070;
  margin: 0rem .2rem;
  }

.get-btn {
  color: #ef9a00;
  border: none;
  border-bottom: 1px solid #ef9a00;
  padding: 0px;
  background: none;
  font-weight: 600;
  }

.get-btn:hover {
  color: #f3f3f3;
  border-bottom: 1px solid #f3f3f3;
  transition: .3s ease;
  }

.table {
  margin-bottom: 0rem;
  }

.table td, .table thead th {
  vertical-align: middle;
  }

thead {
  border-bottom: 1px solid #a9a9a9;
  }

.table thead th {
  border-bottom: none;
  }

.table th {
  border-top: none;
  }

.table td {
  border-top: 1px solid #dddddd;
  }

th a, th a:hover {
  border-bottom: 1px solid #ef9a00;
  }

.sort:hover {
  text-shadow: 1px 2px 2px rgba(57, 80, 145, 0.3);
  cursor: pointer;
  }

.sort-column {
  border-right: 1px solid #a9a9a9;
  font-weight: 400;
  }

.sort-column:last-child {
  border-right: none;
  }

td, .get-btn {
  font-size: .8rem;
  }

.table-total {
  font-size: .9rem;
  }

tfoot {
  background-color: #dddddd;
  border: 1px solid #a9a9a9;
  font-weight: 500;
  }

.td-button {
  text-align: center;
  }

.td-button button {
  border: none;
  padding: .3rem .75rem;
  border-radius: 3px;
  background-color: #ffffff;
  border: 1px solid #195a7c;
  color: #195a7c;
  }

.td-button button:hover {
  box-shadow: 0 2px 16px 2px rgba(17,22,26,.16), 0 2px 4px 0 rgba(17,22,26,.08), 0 8px 14px 0 rgba(17,22,26,.08);
  -webkit-box-shadow: 0 2px 16px 2px rgba(17,22,26,.16), 0 2px 4px 0 rgba(17,22,26,.08), 0 8px 14px 0 rgba(17,22,26,.08);
  -moz-box-shadow: 0 2px 16px 2px rgba(17,22,26,.16), 0 2px 4px 0 rgba(17,22,26,.08), 0 8px 14px 0 rgba(17,22,26,.08);
  border: 1px solid #efa900;
  color: #efa900;
  transition: ease-in-out 0.2s;
  }

.td-button:focus {
  outline: none;
  }

.remove {
  background: url('../images-2/times-circle-red.png') no-repeat center center;
  background-size: cover;
  width: 1.5rem;
  height: 1.5rem;
  vertical-align: middle;
  border: none;
  }
.remove:hover {
  filter: brightness(.7);
  }
