/* Shared styling of sales tables */

.table-header {
  background: #195a7c;
  padding: 1rem .75rem;
  border-radius: 3px 3px 0px 0px;
  }

.table-header span, input, .get-btn, .display-header, .sort-column, td, tfoot, .td-button button, select {
  letter-spacing: .5px;
  }

.table-header span {
  color: #ffffff;
  }

th a, th a:hover, .td-button button, tfoot, select {
  color: #195a7c;
  }

.table-header span {
  margin-right: 15px;
  }

.table-header input, .get-btn, .td-button button {
  border: none;
  }

.table-header input {
  padding-left: .4rem;
  margin: 0rem .2rem;
  }

.table-header input, .input-search, select {
  border-radius: 3px;
  }

.table-header input, .input-search {
  color: #707070;
  }

.get-btn {
  color: #ef9a00;
  border-bottom: 1px solid #ef9a00;
  padding: 0px;
  background: none;
  font-weight: 600;
  }

.get-btn, .td-button button {
  transition: all .2s ease;
  }

.get-btn:hover {
  color: #f3f3f3;
  border-bottom: 1px solid #f3f3f3;
  }

.table {
  margin-bottom: 0rem;
  }

.table td, .table thead th {
  vertical-align: middle;
  }

thead {
  border-bottom: 1px solid #a9a9a9;
  }

.table thead th {
  border-bottom: none;
  }

.table th {
  border-top: none;
  }

.table td {
  border-top: 1px solid #dddddd;
  }

th a, th a:hover {
  border-bottom: 1px solid #ef9a00;
  }

.sort:hover {
  text-shadow: 1px 2px 2px rgba(57, 80, 145, 0.3);
  cursor: pointer;
  }

.sort:hover, select:hover {
  cursor: pointer;
  }

.sort-column {
  font-weight: 400;
  }

td, .sort-column {
  border-right: 1px solid #a9a9a9;
  }

.sort-column:last-child, td:last-child {
  border-right: none;
  }

td, .get-btn, .input-search {
  font-size: .8rem;
  }

.table-total, .table-header input {
  font-size: .9rem;
  }

tfoot {
  background-color: #dddddd;
  border: 1px solid #a9a9a9;
  font-weight: 500;
  }

.td-button {
  text-align: center;
  }

.td-button button {
  padding: .3rem .75rem;
  border-radius: 3px;
  background-color: #ffffff;
  }

.td-button button:hover {
  box-shadow: 0 2px 16px 2px rgba(17,22,26,.16), 0 2px 4px 0 rgba(17,22,26,.08), 0 8px 14px 0 rgba(17,22,26,.08);
  -webkit-box-shadow: 0 2px 16px 2px rgba(17,22,26,.16), 0 2px 4px 0 rgba(17,22,26,.08), 0 8px 14px 0 rgba(17,22,26,.08);
  -moz-box-shadow: 0 2px 16px 2px rgba(17,22,26,.16), 0 2px 4px 0 rgba(17,22,26,.08), 0 8px 14px 0 rgba(17,22,26,.08);
  border: 1px solid #efa900;
  color: #efa900;
  }

.td-button:focus, select {
  outline: none;
  }

.td-button button, select:focus, .input-search:focus {
  border: 1px solid #195a7c;
  }

.input-search, select {
  border: 1px solid #a9a9a9;
  }

.input-search {
  padding: .25rem;
  }

select {
  padding: .2rem;
  background: #ffffff;
  }
