html, body {
   font-family: Verdana, Arial, Helvetica, sans-serif;
   font-size: 100%;
   margin:0px;
   padding:0px;
   background:#003366 URL(https://vendors.bmtmicro.com/images/top_banner_bkgd.jpg) repeat-x top left}
#Layer1, #Layer2, #Layer3, #Layer4 {
   position:absolute;
   width:280px;
   height:185px;
   z-index:6;
   color:#ffffff;
   background:#003366 URL(https://vendors.bmtmicro.com/images/vertbar.jpg) no-repeat top left
}
#Layer1 {left: 160px; top: 142px}
#Layer2 {left: 470px; top: 142px}
#Layer3 {left: 160px; top: 380px}
#Layer4 {left: 470px; top: 380px}
#Layer1 ul, #Layer2 ul, #Layer3 ul, #Layer4 ul {
   list-style:none;
   margin-left:12px;
   margin-top:10px
}
#title {
   height:477px;
   position:absolute;
   top:0px;
   left:0px;
   background:URL(../images/background_hic.jpg) no-repeat top left;
   width:100%;
   z-index:1;
}
#title p {
   padding-left:495px;
   font-style:italic;
   color:#ffffff;
   font-family:georgia,times new roman;
   font-size:105%;
   letter-spacing:1.5px;
   padding-top:50px
}
#helplinks {
   position:absolute;
   top:480px;
   left:15px;
   width:175px
}
#helplinks ul {
   list-style:none;
   font-size:75%
}
#main {
   padding:0px;
   margin:0px
}
#content p {
   font-size:85%;
   padding:3px;
   color:#ffffff
}
#content ul {
   font-size:85%;
   margin-left:25px;
   margin-bottom:10px
}
#content {
   width:84%;
   position:absolute;
   left:130px;
   top:150px;
   margin-bottom:10px;
   font-size:90%;
   z-index:1000
}
#footer {
   position:absolute;
   left:0;
   top:610px;
   width:98%
}
.footer {
   text-align:right;
   font-family: Verdana, Arial, Helvetica, sans-serif;
   font-size: 9px;
   color: #666666;
   border-top:#000000 1px solid;
   padding-right:5px
}
h3.main  {
   margin-left:10px;
   background:url(https://vendors.bmtmicro.com/images/dot.gif) no-repeat top left;
   color:#ffcc66;
   padding-left:48px;
   font-size:110%;
   font-family: Verdana, Arial, Helvetica, sans-serif
}
.orderformhead {
   background-color:#003366;
   color:#fffafa;
   text-align:left;
   font-weight:bold
}
#content a:link,#Layer1 a:link, #Layer2 a:link, #Layer3 a:link, #Layer4 a:link, #helplinks a:link {
	color: #003366;
	text-decoration: none;
	font-family:verdana,arial,sans serif;
	font-weight:bold;
	font-size:80%
}
#content a:active, #Layer1 a:active, #Layer2 a:active, #Layer3 a:active, #Layer4 a:active, #helplinks a:active {
	color: #003366;
	text-decoration: none;
	font-family:verdana,arial,sans serif;
	font-weight:bold;	
	font-size:80%
}
#content a:visited, #Layer1 a:visited, #Layer2 a:visited, #Layer3 a:visited, #Layer4 a:visited, #helplinks a:visited {
	color: #003366;
	text-decoration:none;
	font-family:verdana,arial,sans serif;
	font-weight:bold;	
	font-size:80%
}
#content a:hover, #Layer1 a:hover, #Layer2 a:hover, #Layer3 a:hover, #Layer4 a:hover, #helplinks a:hover {
    color:#FFFFFF; 
    background-color:#003366;
 	text-decoration: none;
	font-family:verdana,arial,sans serif;
	font-weight:bold;	
	font-size:80%
}